html, body {
    font-family: 微软雅黑
}

body.x-desktop {
    font-size: 100%
}

.separator {
    font-size: 30px;
    color: #6ea6cc
}

.guide .x-innerhtml {
    height: 100%
}

.guide .bgImg {
    height: 100%;
    background-image: url('../images/main.png');
    background-size: 100% 100%
}

.guide .text {
    padding: 3em
}

.guideIco {
    background-image: url('../images/ico/guide.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    float: right;
    height: 100%;
    width: 4em;
    height: 4em;
    margin-right: 1.5em
}

.guideBtn.pressing .guideIco {
    background-image: url('../images/ico/guidedown.png')
}

.home .x-button {
    background-image: none;
    background-color: transparent;
    border: 0;
    padding: .2em 0
}

.home .x-button .x-button-label {
    font-weight: normal;
    color: #3f444a;
    text-align: left;
    font-size: .7em;
    margin-top: .25em
}

.home .x-button .x-button-icon {
    font-size: 1.8em;
    text-align: center;
    width: 64px;
    height: 64px
}

.weather div {
    color: White;
    font-size: .7em
}

.weather span {
    width: 1.7em;
    height: 1.7em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: bottom
}

.list {
    font-size: .9em
}

.list .x-list-item.x-list-item-tpl .x-innerhtml {
    line-height: 1.4em
}

.list .x-list-item.x-item-pressed .x-innerhtml {
    background-image: none;
    background-color: #6f747a
}

.list .x-list-item.x-item-pressed .x-innerhtml div {
    color: White
}

.info {
    font-size: .8em;
    line-height: 1.5em
}

.info img {
    width: 100% !important;
    height: auto !important
}

.info .x-inner {
    padding: .5em 1em
}

.cardPanel .navigationBar {
    background-color: #ff5b0a;
    background-image: none;
    border-bottom-color: #ed5f12
}

.cardPanel .x-title {
    font-weight: normal;
    text-shadow: none
}

.back.x-button {
    background-color: transparent;
    background-image: none;
    border: 0
}

.back.x-button.x-button-pressing {
    background-color: transparent;
    background-image: none
}

.navToolbar.x-toolbar-dark {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    background-image: none
}

.navToolbar .x-button {
    border: 0 1px 1px 0;
    border-style: solid;
    border-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    color: #6a6a6a;
    background-color: transparent;
    background-image: none
}

.navToolbar .x-button .x-button-label {
    font-weight: normal;
    font-size: .8em
}

.navToolbar .x-button.x-button-pressing, .navToolbar .x-button.x-tabBar-pressing {
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #f6f6f6));
    background-image: linear-gradient(#dedede, #f6f6f6);
    background-image: -webkit-linear-gradient(#dedede, #f6f6f6);
    color: #11598c
}

.telBar.x-toolbar-dark {
    border-top: 1px solid #ed5f12
}

.telBtn {
    padding: 5px 30px
}

.telBtn .x-button {
    border-radius: 3px
}

.telBtn .x-button.x-button-pressing {
    color: White
}

.telBtn .x-button .x-button-label {
    font-size: .9em
}

.topBar .x-button {
    border-right-color: #dbdbdb;
    color: Black;
    font-weight: bold
}

.topBar .x-button.x-button-pressing, .topBar .x-button.x-tabBar-pressing {
    background-color: transparent;
    background-image: none;
    color: Black;
    border-bottom-color: #ff5b0a
}

.tab {
    height: 100%
}

.tab .x-tabbar-dark {
    background-image: none;
    background-color: White;
    padding: 0;
    border: 0
}

.tab .x-tabbar-dark .x-tab {
    color: Black;
    background-color: White;
    height: 100%;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background-image: none;
    border-radius: 0;
    padding: .8em
}

.tab .x-tabbar-dark .x-tab-active {
    border-bottom-color: #ff5b0a
}

.orangeYellow {
    color: #f37e0b
}

.orange {
    color: #ed5f12
}

.roseRed {
    color: #de3554
}

.lightBlue {
    color: #2c94b1
}

.green {
    color: #7db13a
}

.blue {
    color: #4c93c2
}

.yellow {
    color: #f19300
}

.paleYellow {
    color: #f3b428
}

.smBlue {
    color: #45adb9
}

.yellowish {
    color: #b15f2e
}

.gray {
    color: gray
}

.tc {
    display: flex;
    align-items: center;
    justify-content: center
}

.tf {
    text-align: left
}

.mt {
    margin-top: 1em
}

.pad {
    padding: 5px
}

.img {
    width: 2em;
    height: 3em;
    background-size: 100% auto;
    background-position: center;
    margin-left: 1em;
    background-repeat: no-repeat
}

.content {
    margin-left: .5em
}

.sm {
    font-size: 80%
}

.right {
    width: 7.5em;
    text-align: right
}

.w1 {
    width: 10em
}

.w3 {
    width: 3em
}

.w6 {
    width: 6em
}

.tf {
    text-align: left
}

.pageTab {
    height: 100%
}

.pageTab .x-tabbar-dark {
    background-image: none;
    background-color: #d3dce3;
    padding: 0;
    border: 0
}

.pageTab .x-tabbar-dark .x-tab {
    color: #677c8b;
    border: 0;
    height: 100%;
    border-radius: 0;
    padding: .8em .2em
}

.pageTab .x-tabbar-dark .x-tab-active {
    background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #00a4ff;
    color: #060606
}

.pageTab .pageTabBar {
    padding: 0
}

.pageTabBar .x-button {
    border: 0;
    padding: 0;
    background-color: transparent;
    background-image: none
}

.pageTabBar .x-button .x-button-icon {
    margin: .5em 0;
    color: #7db13a
}

.pageTabBar .x-button.x-button-pressing .x-button-icon {
    color: #2a8bbe
}

.tabLeft:before {
    content: "8"
}

.tabRight:before {
    content: "7"
}

.pIco {
    background-size: auto 100%
}

.tel:before {
    content: ":"
}

.mes:before {
    content: "M"
}

.squared:before {
    content: "u"
}

.x-button.x-button-pressing .x-button-icon {
    color: #11598c
}

.message .x-mask-inner {
    background-color: Black;
    font-size: .9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 7em
}

.message .x-mask-message {
    line-height: 1.8em;
    padding: 0 .3em
}

.bh {
    display: -webkit-box;
    -webkit-box-orient: horizontal
}

.bv {
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.bh div > div, .bv div > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.b1 {
    -webkit-box-flex: 1
}

.b2 {
    -webkit-box-flex: 2
}

.b3 {
    -webkit-box-flex: 3
}

.b4 {
    -webkit-box-flex: 4
}

.x-scroll-bar-x.active {
    width: 0
}

.x-scroll-bar-y.active {
    width: 0
}

.nopadding-toolbar .x-field-select {
    margin: 0;
    padding: 0
}

.columnlist .x-dataview-item {
    width: 33%;
    display: inline-block
}

.columnlist5 .x-dataview-item {
    width: 20%;
    display: inline-block
}

.x-tab .x-button-icon.fa::before, .x-button .x-button-icon.fa::before {
    font-family: FontAwesome
}

.fa-color-blue {
    color: #1572b3
}

.marquee {
    color: rgba(250, 100, 100, 0.7);
    height: 40px;
    line-heihgt: 40px;
    width: 400px;
    overflow: -webkit-marquee;
    -webkit-marquee-style: scroll;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-direction: up;
    -webkit-marquee-speed: slow;
    border: 1px #ccc solid
}

.passedcommon {
    vertical-align: middle;
    background-color: lightskyblue;
    margin: 5px;
    text-align: center
}

.removepassed {
    vertical-align: middle;
    background-color: palevioletred;
    margin: 5px;
    text-align: center
}

@-webkit-keyframes flash {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
        color: #f00;
        text-align: center;
        font-size: 53px;
    }
    100% {
        opacity: 0
    }
}

@keyframes flash {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
        color: #f00;
        text-align: center;
        font-size: 53px;
    }
    100% {
        opacity: 0
    }
}

.flash {
    color: #00f;
    font-size: 53px;
    text-align: center;
    -webkit-animation: flash 3s infinite cubic-bezier(1, 0, 0.5, 0);
    animation: flash 5s infinite cubic-bezier(1, 0, 0.5, 0)
}

.noflash {
    font-size: 53px;
    text-align: center;
    color: dodgerblue
}


@-webkit-keyframes scrollText1 {
    0%{
        -webkit-transform: translateY(0px);
    }
    20%{
        -webkit-transform: translateY(-30px);
    }
    40%{
        -webkit-transform: translateY(-60px);
    }
    60%{
        -webkit-transform: translateY(-90px);
    }
    80%{
        -webkit-transform: translateY(-120px);
    }
    100%{
        -webkit-transform: translateY(-150px);
    }
}

@keyframes scrollText1 {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-30px);
    }
    40%{
        transform: translateY(-60px);
    }
    60%{
        transform: translateY(-90px);
    }
    80%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(-150px);
    }
}

.box3{
    position: relative;
    top: 10px;
    /*left: 20px;
    width: 200px;
    height: 30px;*/
    overflow: hidden;
    /*border:1px solid #ccc;*/
}

.border3{
    top: 0px;
    -webkit-animation:scrollText1 8s infinite  cubic-bezier(1,0,0.5,0) ;
    animation:scrollText1 8s infinite  cubic-bezier(1,0,0.5,0) ;
}

.border3 div{
    /*height:100%;*/
}

.border3:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
}